header{
	font-family: gotham;
	width: 100%;
	min-height: 30px;
	position: fixed;
	top: 0%;
	z-index: 10000;
}

header a{
	color: white;
	cursor: pointer;
	text-decoration: underline;

}

.welcome{
	width: 65%;
	height: 30px;
	background-color: black;
	float: left;
	transition: width 1s;

}

.welcome p{
	color: white;
	font-size: 15px;
	margin: 7.5px 0 0 5px;
}


.contact{
	width: 11.9%;
	height: 30px;
	margin-left: 0.1%;
	background-color: darkred;
	float: left;
	transition: width 1s;
}

.contact p{
	color: white;
	font-size: 15px;
	margin: 7.5px 0 0 7px;
	float: left;
}

.contact i{
	color: white;
	font-size: 15px;
	margin: 7.5px 0 0 12px;
	float: left;
	cursor: pointer;
}

.login{
	width: 11.9%;
	height: 30px;
	margin-left: 0.1%;
	background-color: black;
	float: left;
	cursor: pointer;
	transition: width 1s;

}

.login p{
	color: white;
	font-size: 15px;
	margin: 7.5px 0 0 7px;
	float: left;
	text-decoration: underline;
}

.login i{
	color: white;
	font-size: 15px;
	margin: 7.5px 0 0 12px;
	float: left;
}

.cart{
	width: 10.9%;
	height: 30px;
	margin-left: 0.1%;
	background-color: black;
	float: left;
	transition: width 1s;

}

.cart p{
	color: white;
	font-size: 15px;
	margin-top: 7.5px;
	float: left;

}

.cart i{
	font-size: 15px;
	margin: 7.5px 7px 0 7px;
	color: white;
	float: left;
	cursor: pointer;
}

.frame{
	width: 90%;
	min-height: 200px;
	margin: 7% 5% 0 5%;
	background: white;
}

.loginWindow{
	width: 40%;
	position: absolute;
	min-height: 50px;
	margin: 0 0 0 60%;
	font-family: gotham;
	font-size: 15px;
	background: darkred;
	opacity: 0.9;
	color: white;
	display: none;
	border-radius: 0 0 0 20px;
	position: fixed;
	top: 30px;
	z-index: 10000;



}

.loginWindow button{
	border-style: none;
	background: #eee;
	margin: 1%;
	float: left;

}

.loginWindow input{
	width: 20%;
	float: left;
	margin: 1%;
}

.loginWindow p{
	width: 15%;
	float: left;
	margin: 1%;
}

.loginWindow #createAcc{
	float: left;
	width: 100%;
	margin: 1%;
}

.loginWindow a{
	color: yellow;
}


.profileWindow{
	width: 10%;
	min-height: 50px;
	opacity: 0.9;
	margin: 0 0 0 80%;
	font-family: gotham;
	font-size: 15px;
	background: black;
	color: white;
	border-radius: 0 0 0 10px;
	display: none;
	position: fixed;
	top: 30px;
	z-index: 10000;

}

.profileWindow p{
	padding: 5% 0 3% 24%;
	cursor: pointer;
}

.profileWindow p:hover{
	background: darkred;
	border-radius: 0 0 0 10px;
}

.gamestore a{
	text-decoration: none;
	color: black;
}

.gamestore{
	width: 70%;
	min-height: 40px;
	float: left;

}

.gamestore p{
	font-family: audi;
	font-size: 40px;
	font-weight: bold;
	color: black;
	margin: 5px 0 0 2%;

}

.gamestore span{
	color: darkred;
}

.line{
	width: 96.4%;
	height: 1.2px;
	background: darkred;
	margin: 0 1.6% 0 1.6%;
	float: left;

}

.mapFrame{
	width: 55%;
	min-height: 100px;
	background: white;
	margin: 3% 0 2% 1.6%;
	float: left;

}

.mapFrame2{
	display: none;
}

.map2{
	display: none;
}

.map3{
	display: none;
}

aside{
	width: 40%;
    min-height: 200px;
    background: white;
    margin: 3% 1.6% 0 1%;
    float: left;
}

aside h2{
	width: 100%;
    font-family: gothamBold;
    float: left;
    margin: 5% 0 2% 0;
    font-size: 20px;
    text-align: center;
}

aside p{
	width: 100%;
	text-align: center;
    float: left;
    font-family: gotham;
    font-size: 10px;
}

aside table{
	width: 70%;
	margin: 5% 0 5% 20%;
	text-align: center;
}

aside th{
	padding-bottom: 5%;
}

aside td{
	font-family: gotham;
	border-bottom: 1px solid grey;
	padding: 5%;
	text-align: center;
}

aside table .special{
	text-align: left;
	cursor: pointer;
}

table td i{
	color: darkred;
	cursor: pointer;
}

footer{
	width: 95%;
	margin: 0 1.6% 0 1.6%;
	min-height: 100px;
	float: left;
	background: white;
}
.shop{
    width: 31%;
    height: 200px;
    background: white;
    margin: 1%;
    float: left;
    cursor: pointer;
   	font-family: gotham;
}

.shop table .nomeLoja{
	border-bottom: 1px solid grey;
}

.shop table h2{
	font-size: 20px;
	margin-top: 5%;
}

.shop table p{
	font-size: 15px;
}

.shop i{
    font-size: 40px;
    float: left;
    color: darkred;
}

.shop table{
    margin: 5%;
    width: 90%;
}

.shop td, th{
	text-align: center;
	padding: 4%;
}







