header{
	font-family: gotham;
	width: 100%;
	min-height: 30px;
	display: none;
	position: fixed;
	top: 0%;
	z-index: 10000;
}

header a{
	color: white;
	cursor: pointer;
	text-decoration: underline;

}

.welcome{
	width: 65%;
	height: 30px;
	background-color: black;
	float: left;
	transition: width 1s;

}

.welcome p{
	color: white;
	font-size: 15px;
	margin: 7.5px 0 0 5px;
}


.contact{
	width: 11.9%;
	height: 30px;
	margin-left: 0.1%;
	background-color: black;
	float: left;
	transition: width 1s;
}

.contact p{
	color: white;
	font-size: 15px;
	margin: 7.5px 0 0 7px;
	float: left;
}

.contact i{
	color: white;
	font-size: 15px;
	margin: 7.5px 0 0 12px;
	float: left;
	cursor: pointer;
}

.login{
	width: 11.9%;
	height: 30px;
	margin-left: 0.1%;
	background-color: black;
	float: left;
	cursor: pointer;
	transition: width 1s;

}

.login p{
	color: white;
	font-size: 15px;
	margin: 7.5px 0 0 7px;
	float: left;
	text-decoration: underline;
}

.login i{
	color: white;
	font-size: 15px;
	margin: 7.5px 0 0 12px;
	float: left;
}

.cart{
	width: 10.9%;
	height: 30px;
	margin-left: 0.1%;
	background-color: black;
	float: left;
	transition: width 1s;

}

.cart p{
	color: white;
	font-size: 15px;
	margin-top: 7.5px;
	float: left;

}

.cart i{
	font-size: 15px;
	margin: 7.5px 10px 0 7px;
	color: white;
	float: left;
	cursor: pointer;
}

.frame{
	width: 90%;
	min-height: 200px;
	margin: 7% 5% 0 5%;
	background: white;
}

.loginWindow{
	width: 40%;
	position: absolute;
	min-height: 50px;
	margin: 0 0 0 60%;
	font-family: gotham;
	font-size: 15px;
	background: darkred;
	opacity: 0.9;
	color: white;
	display: none;
	border-radius: 0 0 0 20px;
	position: fixed;
	top: 30px;
	z-index: 10000;

}

.loginWindow button{
	border-style: none;
	background: #eee;
	margin: 1%;
	float: left;

}

.loginWindow input{
	width: 20%;
	float: left;
	margin: 1%;
}

.loginWindow p{
	width: 15%;
	float: left;
	margin: 1%;
}

.loginWindow #createAcc{
	float: left;
	width: 100%;
	margin: 1%;
}

.loginWindow a{
	color: yellow;
}


.profileWindow {
    width: 12%;
    min-height: 50px;
    opacity: 0.9;
    margin: 0 0 0 77.1%;
	font-family: gotham;
	font-size: 15px;
	background: black;
	color: white;
	border-radius: 0 0 0 10px;
	display: none;
	position: fixed;
	top: 30px;
	z-index: 10000;

}

.profileWindow p{
	padding: 5% 0 3% 24%;
	cursor: pointer;
}

.profileWindow a{
	text-decoration: none;
	color: white;
}

.profileWindow p:hover{
	background: darkred;
	border-radius: 0 0 0 10px;
}


.gamestore a{
	text-decoration: none;
	color: black;
}

.gamestore{
	width: 70%;
	min-height: 40px;
	float: left;
	display: none;

}

.gamestore p{
	font-family: audi;
	font-size: 40px;
	font-weight: bold;
	color: black;
	margin: 5px 0 0 2%;

}

.gamestore span{
	color: darkred;
}

.search{
	width: 30%;
	min-height: 45px;
	float: left;
	display: none;
}

.search input{
	width: 78.5%;
	margin: 7px 0 0 10px;
	font-size: 20px;
	float: left;
}

.search p{
	margin: 12px 0 0 0;
	float: left;
	width: 10%;
}

.search p a{
	margin-left: 50%;
}

.mobileSearch{
	display: none;
}

.line{
	width: 96.4%;
	height: 1.2px;
	background: darkred;
	margin: 0 1.6% 0 1.6%;
	float: left;
	display: none;

}

.destaqueLayout{
	width: 100%;
	float: left;
	display: none;

}

.chevronRight{
	background-color: #eee;
	width: 3%;
	height: 280px;
	position: absolute;
	margin: 1.5% 0 0 85.2%;
	opacity: 0.4;
	cursor: pointer;
	display: none;
}

.chevronRight p{
	color: black;
	font-size: 30px;
	text-align: center;
	margin-top: 125px;
	cursor: pointer;
}

.destaque{
	width: 30%;
	margin: 1.6%;
	float: left;
	transition: width 1s; 
}

.destaque img{
	width: 100%;
	height: 280px;
	overflow: hidden;
	border-radius: 5px;
	transition: height 1s;
}

.menu{
	width: 100%;
	background: white;
	float: left;
	display: none;

}

.menu ul{
	width: 70%;
	margin: 0 0 0 15%;
}


.menu ul li{
	width: 23%;
	padding:1%;
	font-family: audi;
	font-weight: bold;
	float: left;
	text-align: center;
	cursor: pointer;
	min-height: 20px;
	transition: font-size 1s;
}
	
.menu ul li:hover{
	color: darkred;
	font-size: 18px;
	text-decoration: underline;
		
}

.active{
	text-decoration: underline;
	background: #eee;
	font-size: 18px;
	color: darkred;
	border-radius: 10px 10px 0 0;
}


.frame2{
	width: 100%;
	min-height: 400px;
	background: #eee;
	float: left;
	display: none;


}

.LoginAlert{
	color: white; 
	padding: 1% ; 
	background-color: rgba(138, 0, 0, 0.61);
}

.LoginAlert a{
	color: gold;
}

.gamesFrame ul{
	font-family: gotham;
	margin: 30% 0 0 36%;
	transition: margin 2s;

}

.gamesFrame li{
	font-family: gothamBold;
	font-size: 17px;
	margin: 5% 0 7% 0;
}


.gamesFrame input{
	font-family: gotham;
	margin: 6%;
	
}


.gamesFrame aside{
	width: 20%;
	min-height: 800px;
	background: #eee;
	float: left; 
	transition: width 2s;
}

.close{
	position: absolute;
    margin-left: 34.5%;
    padding: 15% 0 15% 0;
    font-size: 15px;
    display: none;
}

.open{
	position: absolute;
    margin-left: 17.5%;
    padding: 15% 0 15% 0;
    font-size: 15px;
    display: none;
}

.gameLayout{

	width: 80%;
	min-height: 800px;
	background: #eee;
	margin-top: 6%;
	float: left;
	transition: width 2s;
}

.game{
	width: 22%;
	height: 250px;
	margin: 0.5%;
	float: left;
	background: white;
	border-radius: 10px;
	opacity: 0.8;
	transition: width 2s;
}

.game figure{
	width: 100%;
	float: left;
	border-radius: 10px 10px 0 0;
	cursor: pointer;
}


.game figure img{
	width: 100%;
	height: 150px;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

.game figcaption{
	font-family: gothamBold;
	width: 88%;
	margin: 13px 0 0 6%;
	float: left;
	cursor: pointer;
}

.game a{
	text-decoration: none;
	color: black;
}

.game p{
    width: 94%;
    font-family: gotham;
    margin: 0 0 0 6%;
    float: left;

}

.game span{
	font-family: gothamBold;
	font-weight: bold;
}

.game:hover{
	-webkit-box-shadow:inset 0px 0px 0px 1.5px lightslategrey;
    -moz-box-shadow:inset 0px 0px 0px 1.5px lightslategrey;
    box-shadow:inset 0px 0px 0px 1.5px lightslategrey;
	opacity: 1;

}

.cartButton{
	background-color: white; 
    color: #4CAF50;
    padding: 2%;
    margin-top: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: gothamBold;
    border: 2px solid #4CAF50;
    border-radius: 0 0 10px 0;
    float: left;
    cursor: pointer;
	transition: all 0.5s linear;


}

.cartButton:hover{
    background-color: rgb(76, 175, 81);
    color: white;
}

.cartButton:active{
	background-color: darkred;
	color: white;
	border: 2px solid darkred;
}

.readButton{
	background-color: white; 
	color: #3791ca;
    padding: 2%;
    margin-top: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: gothamBold;
    border: 2px solid #3791ca;
    border-radius: 0 0 10px 0;
    float: left;
    cursor: pointer;

}

.readButton:active{
	background-color: #3791ca;
	color: white;
}


.game button{
    position: relative;
    margin-left: 57%;
    margin-top: -8%;
}



.line2{
	width: 90%;
	height: 1.2px;
	background: darkred;
	float: left;
}



/* SEARCH SECTION */


.searchFrame{
	width: 86%;
	margin: 3% 7% 0 7%;
	min-height: 200px;
	float: left;
}
.searchResult{
	width: 100%;
	margin: 0 0 1% 0;
	padding-bottom: 0;
	float: left;
	background: lightgrey;
	padding: 0.5%;
}

.searchResult a{
	width: 100%;
    font-size: 21px;
    float: left;
    color: black;
    padding: 2%;
}




/* LATEST SECTION */


.latestFrame{
	width: 86%;
	margin: 3% 7% 0 7%;
	min-height: 200px;
	float: left;

}

.latestFrame h2{
    font-family: gothamBold;
    padding: 3%;
    font-size: 26px;
    color: rgba(134, 0, 0, 0.7);

}

.latestGame{
	width: 90%;
	margin: 0 5% 0 5%;
	padding-bottom: 0;
	max-height: 90px;
	float: left;
	background: white;
    transition: max-height 3s
}

.bottomGame{
	max-height: 300px;
}

.latestGame:hover{
	max-height: 800px;
	transition: max-height 3s
}

.latestGame img{
	width: 100%;
	overflow: hidden;
	opacity: 1;
	cursor: pointer;
}

.latestGame aside{
	width: 30%;
	float: left;
	padding-bottom: 1%;
}

.latestGame figcaption{
    font-family: gothamBold;
    text-align: center;
    margin: 5%;
}

.latestGame p{
    text-align: center;
    padding: 2%;
    font-family: gotham;
}

.latestGame span{
	font-family: gothamBold;
}

.latestGame button{
	margin-left: 33%;
}

.latestGame article{
	width: 68%;
	float: left;
	border-left: 1px solid lightgrey;
}

.latestGame article p{
	text-align: left;
}


/*  BESTSELLER SECTION */

.bestsellerFrame{
	width: 93%;
	margin: 3% 0 0 7%;
	min-height: 200px;
	float: left;

}

.title{
	width: 100%;
	background: darkred;
	border-radius: 50px 0 0 5px;
	opacity: 0.7;
	float: left;
	padding: 0.3%;
	margin-top: 1%;
}

.title h2{
	font-family: gothamBold;
    margin-left: 2.5%;
    font-size: 24px;
    color: white;
}

.bestsellerFrame aside{
	width: 27%;
	min-height: 10px;
	float: left;
}

.bestsellerFrame select{
    width: 50%;
    margin: 15% 0 0 9%;
    float: left;
    height: 32px;
    font-size: 20px;
}

.top{
	width: 65%;
	border-left: 1px solid lightgrey;
	min-height: 200px;
	float: left;
	transition: width 2s;
}

.topGame{
	width: 97%;
	margin: 2%;
	border: 1px solid lightgrey;
	min-height: 152px;
	background: lightgrey;
	border-radius: 0 5px 5px 0;
}

.topGame figure{
	width: 35%;
	min-height: 150px;
	float: left;
}

.topGame img{
	width: 100%;
	height: 153px;
	overflow: hidden;
	cursor: pointer;
}

.rating{
	width: 65%;
	min-height: 50px;
	font-family: gotham;
	float: left;
}

.rating p{
	padding: 4%; 
}

.rating span{
	font-size: 20px;
}

.topGame figcaption{
	width: 40%;
	font-family: gotham;
	float: left;

}

.topGame figcaption span{
	font-family: gothamBold;
}

.topGame figcaption p{
	font-size: 12px;
    margin: -2% 0 0 6%;
}

.topGame figcaption h3{
	font-size: 18px;
    margin: -2% 0 0 6%;
    cursor: pointer;
}

.topGame .buyRead{
	width: 25%;
	float: left;
}

.topGame button{
	background: #eee;
	margin-left: 1%;

}

.topGame a{
	text-decoration: none;
}

.group1{
	display: none;
}

.group3{
	display: none;
}

/* SYSTEMS FRAME */

.systemFrame{
	width: 93%;
	margin: 3% 0 0 7%;
	min-height: 200px;
	float: left;
}

.systemFrame aside{
	width: 27%;
	min-height: 10px;
	float: left;
}

.systemFrame select{
    width: 50%;
    margin: 15% 0 0 9%;
    float: left;
    height: 32px;
    font-size: 20px;
}

.product{
	width: 65%;
	border-left: 1px solid lightgrey;
	min-height: 200px;
	float: left;
}

.productFrame{
	width: 97%;
	margin: 2%;
	border-radius: 0 5px 5px 0;
	background: lightgrey;
}

.systemFrame figcaption{
    width: 65%;
    font-family: gotham;
    float: left;
    min-height: 156px;
    background: rgba(0, 0, 0, 0.23);
    border-bottom: 1px solid rgba(139, 0, 0, 0.32);
    border-radius: 10px 0 0 0;
}

.productFrame figcaption span{
	font-family: gothamBold;
}

.productFrame figcaption p{
	font-size: 13px;
    margin: -2% 0 0 6%;
}

.systemFrame figcaption h3 {
    font-size: 23px;
    margin: 4% 0 0 6%;
    cursor: pointer;
    color: aliceblue;
}

.productFrame a{
	text-decoration: none;
}

.productFrame figure{
    width: 35%;
    min-height: 150px;
    float: left;
    border-bottom: 1px solid rgba(139, 0, 0, 0.32);
}

.productFrame img{
	width: 100%;
	height: 153px;
	cursor: pointer;
}

.systemFrame button{
    margin: 2% 0 0 6%;
    font-size: 13px;
    background: #eee;
}

.systemFrame article{
    width: 100%;
    float: left;
    margin-bottom: 1%;
    display: none;
    border-bottom: 1px solid rgba(139, 0, 0, 0.32);
}

.systemFrame article p{
	font-family: gotham;
	margin: 2%;
	text-align: justify

}

/* FOOTER */

footer{
	width: 100%;
	min-height: 200px;
	background-color: grey;
	float: left;
	display: none;
}

footer table{
    width: 85%;
    margin: 2% 7.5% 1% 7.5%;
}

footer a{
	color: white;
	text-decoration: none;
}

footer a:hover{
	color: darkred;
	text-decoration: none;
}

footer td{
	color: white;
	font-family: gotham;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}

footer td:hover{
	color: darkred;
}

footer th{
	color: white;
	padding: 1%;
	font-family: gothamBold;
	text-align: center;
	border-bottom: 1px solid white;
}

footer .special{

	font-size: 30px;
}



